
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDeviceLabel" data-translate="gatewayApp.device.home.createOrEditLabel">Create or edit a Device</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.device.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.device.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatewayApp.device.os" for="field_os">Os</label>
            <input type="text" class="form-control" name="os" id="field_os"
                    ng-model="vm.device.os"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatewayApp.device.osVersion" for="field_osVersion">Os Version</label>
            <input type="text" class="form-control" name="osVersion" id="field_osVersion"
                    ng-model="vm.device.osVersion"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatewayApp.device.device" for="field_device">Device</label>
            <input type="text" class="form-control" name="device" id="field_device"
                    ng-model="vm.device.device"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatewayApp.device.model" for="field_model">Model</label>
            <input type="text" class="form-control" name="model" id="field_model"
                    ng-model="vm.device.model"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatewayApp.device.manufacturer" for="field_manufacturer">Manufacturer</label>
            <input type="text" class="form-control" name="manufacturer" id="field_manufacturer"
                    ng-model="vm.device.manufacturer"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatewayApp.device.appVersion" for="field_appVersion">App Version</label>
            <input type="text" class="form-control" name="appVersion" id="field_appVersion"
                    ng-model="vm.device.appVersion"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatewayApp.device.deviceId" for="field_deviceId">Device Id</label>
            <input type="text" class="form-control" name="deviceId" id="field_deviceId"
                    ng-model="vm.device.deviceId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatewayApp.device.gcmToken" for="field_gcmToken">Gcm Token</label>
            <input type="text" class="form-control" name="gcmToken" id="field_gcmToken"
                    ng-model="vm.device.gcmToken"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatewayApp.device.created" for="field_created">Created</label>
                <div class="input-group">
                    <input id="field_created" type="text" class="form-control" name="created" uib-datepicker-popup="{{dateformat}}" ng-model="vm.device.created" is-open="vm.datePickerOpenStatus.created"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('created')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatewayApp.device.signedIn" for="field_signedIn">Signed In</label>
                <div class="input-group">
                    <input id="field_signedIn" type="text" class="form-control" name="signedIn" uib-datepicker-popup="{{dateformat}}" ng-model="vm.device.signedIn" is-open="vm.datePickerOpenStatus.signedIn"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('signedIn')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatewayApp.device.display" for="field_display">Display</label>
            <input type="text" class="form-control" name="display" id="field_display"
                    ng-model="vm.device.display"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatewayApp.device.product" for="field_product">Product</label>
            <input type="text" class="form-control" name="product" id="field_product"
                    ng-model="vm.device.product"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatewayApp.device.serial" for="field_serial">Serial</label>
            <input type="text" class="form-control" name="serial" id="field_serial"
                    ng-model="vm.device.serial"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="gatewayApp.device.sdkVersion" for="field_sdkVersion">Sdk Version</label>
            <input type="text" class="form-control" name="sdkVersion" id="field_sdkVersion"
                    ng-model="vm.device.sdkVersion"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
